<div class="container">
    <div  class="row">
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/7.jpg" class="img-fluid img-responsive" alt="ph">
            <h4 class="my-2">salde marocain</h4>
            <p class="text-justify">Le Lorem Ipsum est simplement du faux texte employé dans la composition
                 et la mise en page avant impression.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/8.jpg" class="img-fluid img-responsive" alt="ph">

            <h4 class="my-2">salade fruit de mer</h4>
            <p class="text-justify">Le Lorem Ipsum est simplement du faux texte employé dans la composition
                 et la mise en page avant impression.</p>        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/9.jpg" class="img-fluid img-responsive" alt="ph">
            <h4 class="my-2">salade de fruit </h4>
            <p class="text-justify">Le Lorem Ipsum est simplement du faux texte employé dans la composition
                 et la mise en page avant impression.</p>
        </div>
    </div>
</div>
